@import url("https://fonts.googleapis.com/css?family=Montserrat:700,900&subset=cyrillic");
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i&subset=cyrillic');
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css");

$container-padding-x: 8px;
$font-size: 16px;
$color-main: #5cbc61;
$color-dark: #262626;
$color-light: white;
$color-lightergray: #f9f9f9;
$color-lightgray: #efefef;
$color-gray: #cacaca;
$color-darkgray: #8a8a8a;
$color-darkergray: #5c5c5c;
$color-darkestgray: #3b3b3b;
$border-radius: 3px;
$scroller-size: 80px;
$scroller-size-small: 64px;
$max-width: 1124px;
$grid-gap-rest-x: 10px;
$grid-gap-rest-y: 50px;
$color-placeholder: $color-gray;

.nav {
    box-shadow: 0 0 16px $color-gray;
    position: sticky;
    top: 0px;
    background-color: $color-light;
    z-index: 100;
    max-width: 100%;
}

div {
	display: block;
}

.nav-panel {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 72px;
}

.container {
    padding: 0 $container-padding-x;
    margin: auto;
}

.nav-logo {
    padding: 13px 0;
}

a {
    text-decoration: none;
    color: inherit;
    transition: color 0.3s;
}

a:not([class]) {
    text-decoration-skip-ink: auto;
}

/*Блеклый текст внутри строки поиска*/
::-webkit-input-placeholder {
    color: $color-placeholder;
  }

/*Стирает текст внутри строки поиска при клике*/
.input:focus::-webkit-input-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
  }

img {
    max-width: 100%;
    display: block;
}

*, *::before, *::after {
    box-sizing: border-box;
}

.nav-cabinet {
    display: flex;
}

.nav-button {
    font-size: 0.8rem;
    font-weight: 700;
}

.nav-element {
    margin: auto 0.9rem;
}

.button {
    border: 1px solid $color-gray;
    background-color: $color-light;
    padding: 13px 23px;
    padding-left: 17px;
    padding-right: 17px;
    border-radius: $border-radius;
    transition: background-color 0.3s;
}

.button:hover {
    cursor: default;
    background: $color-lightgray;
  }

  .button:active {
    background-color: $color-main;
    color: $color-lightgray;
    border-color: $color-main;
  }

input, button, textarea, select {
    font: inherit;
}

input[type="button" i] {
    appearance: auto;
    user-select: none;
    white-space: pre;
    align-items: flex-start;
    text-align: center;
    cursor: default;
}

.search-input {
    width: 100%;
    outline: none;
    border: none;
    border-bottom: 1px solid $color-placeholder;
}

.search-container {
    padding: 0 $container-padding-x;
    width: 100%;
    margin: auto;
    padding-top: 3rem;
    padding-bottom: 3rem;
    max-width: $max-width;
}

input[type="search" i] {
    appearance: auto;
    padding: 1px 2px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
}

body, h1, h2, h3, h4, p, ul[class], ol[class], li, figure, figcaption, blockquote, dl, dd {
    margin: 0;
}

.stores-header {
    align-items: center;
    display: flex;
    margin-top: 15px;
    margin-bottom: 15px;
}

.stores-cards {
    grid-template-columns: repeat(3, 1fr);
    display: grid;
    gap: 16px;
    margin-bottom: 50px;
}

.stores-card-pic {
    width: 100%;
    border-radius: $border-radius;
    overflow: hidden;
}

.stores-card-pic img {
   transition: 0.3s;
   width: 100%;
}

.stores-card-pic img:hover {
    transform: scale(1.03);
}

.store-name, .store-time, .store-type {
    margin-bottom: 0.35rem;
}

.store-name {
    margin-top: 0.9rem;
}

.store-name:hover {
    text-decoration: underline;
}

.store-type {
    color: $color-darkgray;
    font-size: 0.875rem;
}

.store-time {
    font-size: 0.8125rem;
}

.stores-card {
    text-decoration: none;
    color: $color-dark;
}

.footer {
background-color: $color-dark;
}

hr {
    display: block;
    height: 1px;
    padding: 0;
    margin: 0;
    border: 0;
    border-top: 1px solid $color-darkergray;

    unicode-bidi: isolate;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    overflow: hidden;
}

.footer-logo {
    padding-top: 60px;
    padding-bottom: 30px;
}

.footer-links {
    display: flex;
    justify-content: space-between;
    flex-flow: row;
    column-gap: 32px;
    padding: 24px 0;
}

.footer-links-column {
    flex-flow: column nowrap;
    display: flex;
    flex-basis: 33.333%;
}

.lang-selector-container {
    display: flex;
    align-items: center;
    width: fit-content;
    margin-bottom: 24px;
    margin-left: -16px;
}

.lang-selector-container > img {
    position: relative;
    left: 30px;
}

.lang-selector {
    border-radius: $border-radius;
    border-color: $color-darkestgray;
    color: $color-light;
    font-size: 0.8rem;
    padding: 10px 70px 10px 50px;
    background: url(https://c-c-6ypo8.github.io/ht_Basics/ubereats/assets/arrow-down.svg) 93% / 8% no-repeat ($color-darkestgray);
    appearance: none;
    width: 12rem;
}

option {
    font-weight: normal;
    display: block;
    white-space: nowrap;
    min-height: 1.2em;
    padding: 0px 2px 1px;
}

.footer-link {
    padding: 8px 0;
    color: $color-light;
    font-size: 0.8125rem;
}

.footer a {
    color: $color-light;
}

.hashtag {
    display: inline-block;
    font-size: medium;
}

.hashtag:hover {
    display: inline-block;
    font-size: medium;
    cursor: pointer;
    color: $color-gray;
}

.hashtag::before {
    content: '#';
    color: $color-main;
}

.socials-symbols {
    display: flex;
    gap: 10px;
    padding-top: 6px;
    padding-bottom: 13px;
}

.footer a:hover {
    color: $color-gray;
}

.footer a:active {
    color: $color-main;
}
  
.footer-dw-labels {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 40px 0;
}

.footer-legal {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    padding: 20px 0;
}

.scroller-area {
    position: fixed;
    background:#5cbc61 url(https://c-c-6ypo8.github.io/ht_Basics/ubereats/assets/arrow-up.svg);
    background-position: center center;
    border-radius: 5px;
    display: block;
    width: $scroller-size;
    height: $scroller-size;
    transition: color 0.3s;
    cursor: pointer;
}

@media screen and (min-width: 769px) {
    .container {
      max-width: $max-width;
    }
  }
  
  @media screen and (max-width: 576px) {
    .scroller-area {
      width: $scroller-size-small;
      height: $scroller-size-small;
      display: block;
    }
  }
  
  @media screen and (max-width: 270px) {
    .button {
      padding: 5px 10px;
    }
  }

:root {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    font-size: $font-size;
    color: $color-dark;
}